/* Index starting page */
body{
    background-color: black;
    color: lightgrey;
}
.heading{
    height: 10vh;
    font-size: 48px;
    display: inline;
}
#task{
    font-family: 'Encode Sans', sans-serif;
    font-weight: 900;
}
#list{
    font-family: 'Roboto', sans-serif;
    color: #999898;
    font-weight: 20;
}
#addlss{
    font-size: 30px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    margin-left: 38%;
    display: inline;
    cursor: pointer;
}

.container{
    margin: auto;
    margin-top: 0;
    height: fit-content;
    width: 50vw;
}
h1{
    font-size: 48px;
    display: inline-block;
}
svg{
    color: rgba(72, 255, 0, 0.919);
    width: 4%;
    height: 9%;
    
}

/* temporary element */
.emptylist{
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
}

/* popup for master list  */
.empty{
    display: block;
    box-shadow: 4px 2px 8px lightgrey;
    border: 1px solid red;
    border-radius: 4px;
    height: 21px;
}
.but{
    color: white;
    border: 3px solid red;
    background-color: red;
    border-radius: 10px;
    width: 50px;
    margin-top: 3%;
    height: 27px;
    width: 58px;
    cursor: pointer;
}
.maincon{
    position: absolute;
    top: 27%;
    left: 40%;
    border-radius: 9px;
    border: 1px solid red;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 20%;
    padding: 1%;
    display: none;
}
.addnew{
    color: red;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.blurClass{
    filter: blur(4px);
}
/* for button decoration  */
.strikeThrough{
    font-family: 'Roboto Mono', monospace;
    border: 1px solid red;
    border-radius: 30%;
    background-color: #1d1f1b;
    font-size: 0.5em;
    margin-left: 3%;
    cursor: pointer;
    padding: 2%;
}

.strike{
    text-decoration: line-through;
}

/* card css */
.card{
    position: relative;
    display: inline-block;
    height: 49vh;
    width: 18vw;
    border-radius: 9px;
    border: 1px solid red;
    box-shadow: 8px 8px 8px lightgrey;
    text-align:center;
    padding-top: 1%; 
    margin-top: 3%;
}
h2{
    font-family: 'Poppins', sans-serif;
}
.plus{
    height: fit-content;
    font-size: 1.3em;

}
.bi-plus-circle-fill{
    height: 11%;
    width: 9%;
    cursor: pointer;
}
.bi-trash-fill{
    width: 9%;
    height: 9%;
    margin-right: 1%;
    cursor: pointer;
}
.cardButtons{
    position: absolute;
  
    right: 12px;
    bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
/* Hiding the template of card */
#cardTemp{
    display: none;
}
/* Displaying Added Cards */
.allCards{
    height: 80vh;
    width: 80vw;
    margin: auto;
    display: flex ;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap;

}
.mobileempty{
    display: none;
    color: black;
}
 
/* Mobile View  */

@media screen and (max-width: 480px) and (min-width: 320px){
    .allCards{
        display: flex;
        flex-direction: row;
        
    }

    #plusButton{
        color: rgba(72, 255, 0, 0.919);
        width: 10%;
        height: 7%;
        position: absolute;
        top: 5%;
        right: 9%;
    }
    .container{
        margin: auto;
        margin-top: 0;
        height: fit-content;
        width: 92vw;
    }
    h1{
        font-size: 38px;
    }
    #addlss{
        color: black;
        margin-left: none;
    }
    .emptylist{
        display: none;
        color: black;
    }
    .mobileempty{
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 1.4em;
        color: white;
    }
    .card{
        height: 49vh;
        width: 73vw;
        margin-top: 11%;
    }
    .maincon{
        top: 33%;
        left: 19%;
        width: 60vw;
    }
    
}